<!DOCTYPE html>
<html>
<head>
	<title>NRI Medical Wing</title>
</head>
<body>
<div class="page-header">
    
                    <img src="logo_11.jpg" alt="logo">
                
</div>
	<table>
		<tr>
			<td style="width=200px;">Name :- </td><td style="width=200px;">&nbsp&nbsp{{name}} </td>
			<td style="width=200px;">Age :- </td><td style="width=200px;">&nbsp&nbsp {{age}} </td>
			
			
		</tr>
		<tr>
			<td style="width=200px;">DOB :- </td> <td style="width=200px;">&nbsp&nbsp{{dob}} </td>
			<td style="width=200px;">Gender :- </td><td style="width=200px;">&nbsp&nbsp{{gen}} </td>
		</tr>
		<tr>
			<td style="width=200px;">Department :- </td><td style="width=200px;">&nbsp&nbsp{{dept}}  </td>
			<td style="width=200px;">issueing date time :- </td><td style="width=200px;">&nbsp&nbsp{{today}} </td>
		</tr>
	</table>
	<h2>Rx</h2>
</body>
</html>