<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AskMe</title>
      <!-- Bootstrap core CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="static/css/demo.css" rel="stylesheet">
      <link href="static/css/set1.css" rel="stylesheet">
      <script src="static/js/jquery-1.9.0.js"></script> 
      <script src="static/js/script_delete.js"></script>  
    </head>
    <style type="text/css">
    th{
    color:#000;
    }
    tr {
    border-top: 1px solid rgba(62, 51, 51, 0.1);
}
tr:hover {
    background: rgba(128, 128, 128, 0.18);
}
    </style>
    <body style="height:100%; background-color:#fff ">
<!--   <header class="codrops-header">
        <h1 style="color:#0080FF;">NRI Medical Wing<span>We Care For You</span> </h1>
      </header> -->      <div >
    
                    <img src="static/img/logo_11.jpg" alt="logo">
                
</div>
      <form id="form" role="form" autocomplete="off">
      <div class="jumbotron" style="margin-top:40px; height:350px; overflow-y: scroll;">
<table style="font-size:25px" class=" table text-center">

<th>ID </th><th> Enroll. No. </th><th> Name </th><th> Date Of Birth  </th><th>Gender </th><th> Desiese  </th><th>Issueing Date </th>

          {% for i in range(0,count) %}

         <tr style="font-size:20px">
 
         <td> {{sr[i]}} </td><td>{{enroll[i]}}</td><td>{{name[i]}}</td>
         <td>{{gen[i]}}
         </td>
         <td>{{dob[i]}}</td>
         <td>{{des[i]}}</td>
        <td>{{crt[i]}}</td>
         
</tr>

          {% endfor %}
</table>
</form>
      
    </body>
  </html>

